.add-license-form {
  .input-group {
    position: relative;

    label {
      position: absolute;
      right: 0;
      bottom: $xs;
    }

    input {
      opacity: 0;

      &:focus {
        opacity: 1;

        & ~ label {
          opacity: 0;
        }
      }
    }
  }
}

.page-control {}
