.event-header {
    height: 297px;
    position: relative;
    @include parallax;
    @media (max-width: 768px) {
        height: 280px;
    }
    .content-header {
        z-index: 100;
        width: 100%;
    }
    &::after {
        content: '';
        position: absolute;
        display: block;
        z-index: 1;
        height: 100%;
        width: 100%;
        background: radial-gradient(circle at 28% -21%, rgba(0, 0, 0, 0), $black);
        left: 0;
        top: 0;
    }
    &__edit {
        opacity: .75;
        position: absolute;
        top: $sm;
        right: $md;
        z-index: 100;
        @media (max-width: 768px) {
            top: .5rem;
            right: $sm;
        }
        &:hover {
            opacity: 1;
        }
    }
    &__title {
        font-size: 3rem;
        top: 4.8125rem;
        position: absolute;
        @media (max-width: 768px) {
            top: 1rem;
            font-size: 2rem !important;
        }
    }
    .header-picture {
        position: absolute;
        top: 9.063rem;
        display: table;
        text-align: center;
        margin: 0 auto;
        width: 200px;
        @media (max-width: 768px) {
            top: 4rem;
        }
        .square {
            width: 75px;
            height: 75px;
            margin: 0 auto;
        }
        &__caption {
            display: table-caption;
            caption-side: top;
            width: 150px;
            margin: 0 auto 1.188rem;
        }
        &__image {
            object-fit: cover;
            width: 100%;
            height: 100%;
            position: absolute;
        }
    }
    .header_date {
        position: absolute;
        bottom: 1.5rem;
        width: 100%;
    }
    .content-event {
        .map-container {
            background-color: $pale-red;
            padding: 20px;
            .map-manager {
                height: 200px;
            }
        }
    }
    .header-date {
        position: absolute;
        bottom: 1.5rem;
        width: 100%;
        &__date {
            line-height: 2rem;
        }
    }
}

/** Comments **/

.review-summary {
    background-color: $pale-red;
    padding: $md;
    &__subtitle {
        font-weight: bold;
        text-align: center;
        color: $dark-grey;
    }
    &__title {
        text-align: center;
        font-weight: bold;
        color: $dark-grey;
        font-size: 4rem;
    }
    &__points {
        font-weight: bold;
        color: $dark-grey;
        padding-right: $sm;
    }
    &__rate {
        color: $grey;
        font-size: 0.7rem;
        padding-left: 0.3rem;
    }
    &__total-ratings {
        text-align: center;
        color: $grey;
        padding-top: $sm;
    }
    @include parallax;
}
  @import "../helpers/_variables";

.progress-bar {
    height: 3px;
    background-color: $red;
    width: 2%;
}

.wrapper {
    textarea {
        color: $dark-grey;
    }
    &__items {
        color: $grey;
        position: absolute;
        bottom: 1rem;
        left: 1rem;
    }
    &__rate-button {
        position: absolute;
        bottom: 0.5rem;
        right: 1rem;
        .btn-link {
            color: $grey;
            font-weight: bold;
            &:hover,
            &:focus {
                color: $red;
                text-decoration: none;
            }
        }
    }
}

/****** Style Rating *****/

.rating {
    border: none;
    float: left;
}

.rating>input {
    display: none;
}

.rating>label:before {
    margin: 2px;
    font-size: 1.25em;
    font-family: 'simple-line-icons';
    content: "\e08a";
    display: inline-block;
}

.rating>label {
    float: right;
}

.rating>input:checked~label,
.rating:not(:checked)>label:hover,
.rating:not(:checked)>label:hover~label {
    color: $red;
}

/* hover previous stars in list */

.rating>input:checked+label:hover,
.rating>input:checked~label:hover,
.rating>label:hover~input:checked~label,
.rating>input:checked~label:hover~label {
    color: $red;
}

.comments {
    &__name-separator {
        color: $grey;
        font-weight: bold;
    }
    .heart-box {
        top: 60%;
        left: 65%;
    }
}
.dropdown-event{
  background: white;
  color: black;
}

.load-button {
    text-align: center;
    .btn-link {
        color: $red;
        font-weight: bold;
        &:hover,
        &:focus {
            color: $red;
            text-decoration: none;
        }
    }
}

.dropdown-event:hover, .dropdown-event:focus, .dropdown-event:visited{
  background: $red !important;
}

.grid-container {
  display: grid;
  grid-template-columns: 23% 23% 23% 23%;
  grid-gap: 18px;
}

.input_event:focus {
  border: $grey solid 1px !important;
}

.middle-ev {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  transform: translate(0%, -91%);
  text-align: center;
}

.containers:hover .pdf {
  opacity: 1;
}

.containers:hover .middle {
  opacity: 0.7;
}

.pdf {
  padding-left: 10%;
  padding-right: 10%;
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.cursor-not-allowed {
  cursor: not-allowed;
  opacity: 0.9;
  transition: opacity 0.25s;
}

.containers {
  position: relative;
  width: 100%;
}

.image-tent {
  &-sm{
    width: 20% !important;
    left: 40% !important;
  }
  &-md{
    width: 40% !important;
    left: 30% !important;
  }
  &-lg{
    width: 60% !important;
    left: 20% !important;
  }
  &-xl{
    width: 80% !important;
    left: 10% !important;
  }
}

.hover_grey:hover, .hover_grey:focus {
  background: $light-grey;
  border: $light-grey;
}
