@import "../helpers/_variables";

header {
  border-bottom: 1px solid $grey;
}

.mr-28 {
  margin-right: 28px !important;
}

.rectangle-rounded {
  width: 242px;
  height: 35px;
  font-family: Helvetica;
  margin-left: 32px;
  border-radius: 17.5px;
  border: solid 1px $grey !important;
}

.rectangle-2 {
  width: 165px;
  height: 37px;
  border-radius: 17.5px;
  background-color: $pale-red;
}

.rectangle-3 {
  width: 78px;
  height: 27px;
  border-radius: 12.5px;
  background-color: $red;
  margin-top: 5px;
  margin-left: 5px;
}

.line-2 {
  width: 2px;
  height: 48.5px;
  border: solid 1px $light-grey;
}

.inputWithIcon input[type=text] {
  padding-left: 15px;
}

.inputWithIcon {
  position: relative;
}

.inputWithIcon button {
  position: absolute;
  right: 0;
  top: 0;
  padding: 10px 20px;
  color: #aaa;
}

.header-user {
  &__img {
    width: rem(50);
    overflow: hidden;

    &:hover {
      filter: brightness(1.1);
    }

    img {
      object-fit: cover;
    }
  }
}
