.middle {
  opacity: 0;
  background: rgba($black, 0.5);

  &:hover {
    opacity: 1;
    cursor: pointer;
  }
}

.manager-header {
  height: 200px;
  position: relative;

  @include parallax;

  &::after {
    content: '';
    position: absolute;
    display: block;
    z-index: 1;
    height: 100%;
    width: 100%;
    background: radial-gradient(circle at 28% -21%, rgba(0, 0, 0, 0), $black);
    left: 0;
    top: 0;
  }

  > div {
    position: relative;
  }

  &__picture {
    z-index: 10;
    position: absolute !important;
    width: 100%;

    img {
      object-fit: cover;
    }

    .square {
      width: 120px;
      top: rem(110);
      margin-left: 5rem;
      display: block;

      @media (max-width: 768px) {
        margin: 10px auto;
        display: block;
        top: 0;
      }
    }

    figure {
      left: 0;

      @media (max-width: 768px) {
        width: 100%;
      }
    }

    figcaption {
      margin-left: 14rem;
      position: relative;
      top: $sm;

      h1 {
        text-shadow: 0 0 9px $black;

        @media (max-width: 768px) {
          font-size: 1rem;
        }
      }

      @media (max-width: 768px) {
        margin-left: $xs;
      }
    }
  }

  &__btn {
    opacity: .75;
    position: absolute;
    z-index: 100;
    top: $sm;
    right: $md;

    // @media (max-width: 768px) {
    //   right: $xs;
    //   top: $xs;
    // }

    &:hover {
      opacity: 1;
    }
  }

  &__details {
    text-align: right;
    z-index: 2;
    width: 100%;
    right: $md;
    bottom: 0;

    // @media (max-width: 768px) {
    //   right: $xs;
    //   bottom: $xs;
    // }

    ul {
      position: absolute;
      bottom: 0;
      right: 0;
    }
  }
}

.profile-tabs {
  @media (max-width: 768px) {
    text-align: center !important;
    padding: 0;
    margin: $xs;
  }

  li {
    display: inline-block;
    margin-left: $sm;

    @media (max-width: 768px) {
      display: block;
      margin: 0 0 $xs;
    }

    button {
      @media (max-width: 768px) {
        width: 100%;
      }
    }
  }
}

.img-event {
  box-shadow: 3px 3px 5px 0 rgba(0, 0, 0, 0.2);
}

.new-item {
  background: #e4a237;
  color: white;
  z-index: 1;
  width: 60px;
  margin-top: 25px;
  position: absolute;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  margin-left: -12px;
  font-size: 14px;
  text-align: center;
  padding: 4px;
  font-style: italic;
}

.heart-box {
  position: absolute;
  z-index: 1;
  top: 90%;
  left: 100%;
}

.text-heart {
  margin-top: -26px;
  font-size: 12px;
}

.transform-heart {
  transform: translate(-63%, -100%);
}

.padding-cols {
  padding-left: 5%;
  padding-right: 5%;
}

.w-85 {
  width: 85%;
}

.square__view {
  position: absolute;
  width: 50%;
  height: 50%;
  left: 25%;
  top: 25%;
  padding: 10%;
}
